.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;

  background-image: url(https://i.ibb.co/YRh8hC4/5026563.jpg);
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
}
.movieCart{
  background-color: transparent;
  transition: all 0.4s;
  text-align: start;
}
.movieCart:hover{
  transform: scale(1.05);
  box-shadow: 1px 1px 1px 1px gray;
}
@media only screen and (max-width: 500px) {
  
  .twoDropDwon{
  display: flex;
  flex-direction: column;
  }
}
